<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDAeSl4DaDVBBV8KrSc0Qz05kRk_rBf0gQ&sensor=false&libraries=geometry&extension=.js"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/landing.css">
    <link rel="stylesheet" href="/bower_components/angular-notify/dist/angular-notify.css">
    <link rel="stylesheet" href="/bower_components/angularjs-slider/dist/rzslider.css">
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css">
    <!-- endinject -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- endbuild -->
    <!-- inject:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-notify/dist/angular-notify.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/markerclustererplus/src/markerclusterer.js"></script>
    <script src="/bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
    <script src="/bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
    <script src="/bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
    <script src="/bower_components/js-rich-marker/src/richmarker.js"></script>
    <script src="/bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="/app.js"></script>
    <script src="/services/UserService.js"></script>
    <script src="/services/PassRestoreService.js"></script>
    <script src="/services/MsgService.js"></script>
    <script src="/services/LandingService.js"></script>
    <script src="/services/AuthService.js"></script>
    <script src="/services/AdsService.js"></script>
    <script src="/directives/fixErrorUrlImages.js"></script>
    <script src="/directives/comparePasswords.js"></script>
    <script src="/controllers/ProfileController.js"></script>
    <script src="/controllers/PassResetEmailController.js"></script>
    <script src="/controllers/PassResetController.js"></script>
    <script src="/controllers/LoginSignupController.js"></script>
    <script src="/controllers/LandingController.js"></script>
    <script src="/controllers/HeaderController.js"></script>
    <script src="/controllers/ExtendedSearchController.js"></script>
    <script src="/controllers/EmailConfirmationController.js"></script>
    <!-- endinject -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- endbuild -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uWork.pp.ua</title>
</head>
<body ng-app="app">
    <header ng-controller="HeaderController as headerCtrl">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="headerCtrl.isNavCollapsed = !headerCtrl.isNavCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='/'><span>Neighbor</span>Hub</a>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="headerCtrl.isNavCollapsed">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active-li"><a href="#">Стать исполнителем</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Блог</a></li>
                        <li ng-if="!headerCtrl.showProfile"><a href='/login'>Вход</a></li>
                        <li class="blog-li" ng-if="headerCtrl.showProfile"><a href='/profile'>Профиль</a>
                            <img src="../img_categor/Zoom.png" alt="zoom">
                        </li>
                        <li ng-if="headerCtrl.showProfile"><a class='link-pointer' ng-click="headerCtrl.signOut()">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<main ng-view></main>
</body>
</html>
