.postAd {
    float: none !important; /* To prevent this value from being overwritten by bootstrap */
    margin: 0 auto;
    padding: 30px;
}

.form-group label {
    margin-bottom: 10px;
}

.postAd form {
    padding: 30px;
}

div div form .post-ad-button {
    border-radius: 0;
    margin-right: 5px;
    border: none;
    background-color: #9CBC7C;
    color: #ffffff;
    outline: 0;
}

div .form-control {
    border-radius: 0;
}

div .nav-tabs.nav-justified>li>a,
div .panel.panel-default {
    border-radius: 0;
}

div .nav-tabs.nav-justified>li>a {
    color: #7D93B2;
    font-size: 2rem;
}

div .form-group label {
    font-weight: normal;
}
