<div class="container">
    <div class="jumbotron">
        <h1>Подтверждение регистрации</h1>
        <p class="alert alert-success" ng-if="emailConfirmationCtrl.showSuccess"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Спасибо, ваша регистрация подтверждена успешно!</p>
        <p class="alert alert-danger" ng-if="emailConfirmationCtrl.showError"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Ошибка подтверждения регистрации. Пожалуйста, сообщите об этом в техническую поддержку</p>
    </div>
</div>
