<nav class="butBlog">
    <ul>
        <li><a href='/kontakt'>Контакты</a></li>
        <li><a href='/onas'>О нас</a></li>
    </ul>
</nav>
    <div class="top1">
        <div class="left">
          <h1>КОНТАКТЫ</h1>
            <p>Украина,г.Харьков</p>
            <h4>ИНФОРМАЦИОННЫЙ ОТДЕЛ</h4>
            <p>044 41 05 00</p>
            <p>бесплатные звонки со всех</p>
            <p>телефонов на территории</p>
            <p>Украины:</p>
            <p>+38 (067) 67 067 36</p>
            <p>+38 (050) 44 233 50</p>
            <p>email: angularjs@angular.ua</p>
            <h4>СЛУЖБА ПОДДЕРЖКИ</h4>
            <p>email: angularjs@angular.ua</p>
            <h4>РУКОВОДИТЕЛЬ</h4>
            <p>+38 (063) 33 223 31</p>
            <p>email: bigBOSS@boss.ua</p>
        </div>
        <div class="message">
            <h1>ОБРАТНАЯ СВЯЗЬ</h1>
            <label>Введите ФИО:</label>

            <input type="text" placeholder="Иванов Иван Иванович" ng-required="true"/>

            <label>Введите E-mail:</label>

            <input type="text" placeholder="e-mail@gmail.com" ng-required="true"/>

            <label>Выберите к кому хотите обратится:</label>

            <select ng-model="svyas.komys">
                <option ng-repeat="komy in komys" ng-required="true">{{ komy }}</option>
            </select>

            <label>Напишите тему обращения:</label>
            <input type="text" placeholder="По поводу заявок" ng-required="true"/>
            <label>Напишите ваше сообщение:</label>

            <textarea ng-required="true"></textarea>

            <button>ОТПРАВИТЬ</button>
          </div>

    </div>





<style media="screen">

.butBlog ul{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding-left: 0px;
    padding-bottom: 10px;

}
.butBlog ul li{
    display: inline-block;
    margin: 0 10px;
}
.butBlog a{
    color: #fff;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
}
.butBlog{
    background: #9CBC7C;
    padding-top:15px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

}


.top1{
  margin: 0 auto;
  line-height: .5;
  text-align: center;
  width: 100%;
  max-width: 800px;
  height: 800px;


}



input{
    margin-top: 20px;
    width: 90%;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #9CBC7C;
}

label{
    padding-top: 20px;
    background: #ffffff;
}



select{
    margin-top: 20px;
    width: 90%;
    height: 35px;
    border: 1px solid #9CBC7C;
}

textarea{
  width: 90%;
  margin-top: 15px;
  height: 200px;
  border: 1px solid #9CBC7C;
}

.left{
    width: 45%;
    float: left;
    padding: 55px;
}

.message{
    width: 55%;
    float: right;
    padding: 55px;
}


.left p{
    margin: 20px 0 0 0;
}

button{
    display: block;
    margin: 20px auto;
    background: #9CBC7C;
    color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
</style>
