<div class="container">
    <div class="col-xs-12 col-md-6 login">
        <uib-tabset justified="true">

            <uib-tab index="0" heading="Вход">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="loginSignupCtrl.loginForm" ng-submit="loginSignupCtrl.login(username, password)" novalidate>
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon1">Логин</span>
                                <label class="visible-xs-block">Логин</label>
                                <input type="email"
                                       name="username"
                                       class="form-control"
                                       placeholder="john.doe@example.com"
                                       aria-describedby="basic-addon1"
                                       ng-model="username"
                                       required>
                                <div ng-messages="loginSignupCtrl.loginForm.username.$error" ng-show="loginSignupCtrl.loginForm.username.$touched || loginSignupCtrl.loginForm.$submitted" class="vtooltip">
                                    <div ng-message="required">
                                        <div class="vtooltiptext hidden-xs">Введите ваш email</div>
                                        <div class="visible-xs-block login-text">Введите ваш email</div>
                                    </div>
                                    <div ng-message="email">
                                        <div class="vtooltiptext hidden-xs">Убедитесь что вводите email</div>
                                        <div class="visible-xs-block login-text">Убедитесь что вводите email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon  hidden-xs" id="basic-addon2 ">Пароль</span>
                                <label class="visible-xs-block">Пароль</label>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="*****"
                                       aria-describedby="basic-addon2"
                                       ng-model="password"
                                       required>
                                <div ng-messages="loginSignupCtrl.loginForm.password.$error" ng-show="loginSignupCtrl.loginForm.password.$touched || loginSignupCtrl.loginForm.$submitted" class="vtooltip">
                                    <div ng-message="required">
                                        <div class="vtooltiptext hidden-xs">Введите ваш пароль</div>
                                        <div class="visible-xs-block login-text">Введите ваш пароль</div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <a href="/passResetEmail">Забыли пароль?</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="1" heading="Регистрация">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="loginSignupCtrl.signupForm" ng-submit="loginSignupCtrl.signup(signUpUsername, signUpPassword)" novalidate>
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon3" >Логин</span>
                                <label class="visible-xs-block">Логин</label>
                                <input type="email"
                                       name="username"
                                       class="form-control"
                                       placeholder="john.doe@example.com"
                                       aria-describedby="basic-addon3"
                                       required
                                       ng-model="signUpUsername">
                                <div ng-messages="loginSignupCtrl.signupForm.username.$error" ng-show="loginSignupCtrl.signupForm.username.$touched || loginSignupCtrl.signupForm.$submitted" class="vtooltip">
                                    <div ng-message="required">
                                        <div class="vtooltiptext hidden-xs">Введите ваш email</div>
                                        <div class="visible-xs-block login-text">Введите ваш email</div>
                                    </div>
                                    <div ng-message="email">
                                        <div class="vtooltiptext hidden-xs">Убедитесь что вводите email</div>
                                        <div class="visible-xs-block login-text">Убедитесь что вводите email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon4">Пароль</span>
                                <label class="visible-xs-block">Пароль</label>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="*****"
                                       aria-describedby="basic-addon4"
                                       required
                                       ng-minlength=4
                                       ng-model="signUpPassword">
                                <div ng-messages="loginSignupCtrl.signupForm.password.$error" ng-show="loginSignupCtrl.signupForm.password.$touched || loginSignupCtrl.signupForm.$submitted" class="vtooltip">
                                    <div ng-message="required">
                                        <div class="vtooltiptext hidden-xs">Введите ваш пароль</div>
                                        <div class="visible-xs-block login-text">Введите ваш пароль</div>
                                    </div>
                                    <div ng-message="minlength">
                                        <div class="vtooltiptext hidden-xs">Пароль должен быть не короче 4 символов</div>
                                        <div class="visible-xs-block login-text">Пароль должен быть не короче 4 символов</div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon5">Повторите пароль</span>
                                <label class="visible-xs-block">Повторите пароль</label>
                                <input type="password"
                                       name="passwordRepeat"
                                       class="form-control"
                                       placeholder="*****"
                                       aria-describedby="basic-addon5"
                                       required
                                       ng-minlength=4
                                       ng-model="signUpPasswordRepeat"
                                       compare-passwords="loginSignupCtrl.signupForm.password">
                                <div ng-messages="loginSignupCtrl.signupForm.passwordRepeat.$error" ng-show="loginSignupCtrl.signupForm.passwordRepeat.$touched || loginSignupCtrl.signupForm.$submitted" class="vtooltip">
                                    <div ng-message="required">
                                        <div class="vtooltiptext hidden-xs">Повторите ваш пароль</div>
                                        <div class="visible-xs-block login-text">Повторите ваш пароль</div>
                                    </div>
                                    <div ng-message="minlength">
                                        <div class="vtooltiptext hidden-xs">Пароль должен быть не короче 4 символов</div>
                                        <div class="visible-xs-block login-text">Пароль должен быть не короче 4 символов</div>
                                    </div>
                                    <div ng-message="comparePasswords">
                                        <div class="vtooltiptext hidden-xs">Пароли не совпадают</div>
                                        <div class="visible-xs-block login-text">Пароли не совпадают</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>


        </uib-tabset>
    </div>
</div>
