<div class="container">
    <div class="col-xs-6 login">
        <uib-tabset justified="true">

            <uib-tab index="0" heading="Вход">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-submit="loginSignupCtrl.login(username, password)">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon8">Логин</span>
                                <input type="email" class="form-control" placeholder="john.doe@example.com" aria-describedby="basic-addon8" ng-model="username" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon9">Пароль</span>
                                <input type="password" class="form-control" placeholder="*****" aria-describedby="basic-addon9"  ng-model="password" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="1" heading="Регистрация">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-submit="loginSignupCtrl.signup(signUpUsername, signUpPassword, signUpPasswordRepeat, firstName, lastName, city, phone)">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1" ng-model="signUpUsername">Логин</span>
                                <input type="email" class="form-control" placeholder="john.doe@example.com" aria-describedby="basic-addon1" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2" ng-model="signUpPassword">Пароль</span>
                                <input type="password" class="form-control" placeholder="*****" aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3" ng-model="signUpPasswordRepeat">Повторите пароль</span>
                                <input type="password" class="form-control" placeholder="*****" aria-describedby="basic-addon3" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon4" ng-model="firstName">Имя</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon4">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon5" ng-model="lastName">Фамилия</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon5">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon6" ng-model="city">Город</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon6">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon7" ng-model="phone">Телефон</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon7">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>


        </uib-tabset>
    </div>
</div>
