<div class="container ">
    <div class="col-xs-12 col-md-6 postAd">
        <uib-tabset justified="true">
            <uib-tab index="0" heading="Найти работу">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="postAdCtrl.findJobForm" ng-submit="postAdCtrl.postAd('lookForJob', findJobAdTitle, postAdCtrl.category, findJobAdPayment, findJobAdExperience, findJobAdPhone, findJobAdDescription)">
                            <div class="form-group">
                                <label>Название объявления</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder='Например, "Ищу работу поваром"'
                                       ng-model="findJobAdTitle"
                                       required>
                            </div>
                            <div class="form-group">
                                <select ng-model="postAdCtrl.category" class="form-control" required>
                                    <option value=''>Выберите категорию</option>
                                    <option ng-repeat="(categoryId, categoryName) in postAdCtrl.categories" value={{categoryId}}>{{categoryName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Оплата:</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="За сутки работы, в гривнах"
                                       ng-model="findJobAdPayment">
                            </div>
                            <div class="form-group">
                                <label>Ваш опыт работы (лет):</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="1"
                                       ng-model="findJobAdExperience">
                            </div>
                            <div class="form-group">
                                <label>Ваш номер телефона:</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="+380NNNNNNNNN"
                                       ng-model="findJobAdPhone"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Подробно опишите предоставляемые Вами услуги:</label>
                                <textarea class="form-control" rows="5" ng-model="findJobAdDescription" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Разместить объвление</button>
                        </form>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="1" heading="Найти работника">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="postAdCtrl.findWorkerForm" ng-submit="postAdCtrl.postAd('lookForWorker', findWorkerAdTitle, postAdCtrl.category, findWorkerAdPayment, findWorkerAdExperience, findWorkerAdPhone, findWorkerAdDescription)">
                            <div class="form-group">
                                <label>Название объявления</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder='Например, "Ищу сантехника"'
                                       ng-model="findWorkerAdTitle"
                                       required>
                            </div>
                            <div class="form-group">
                                <select ng-model="postAdCtrl.category" class="form-control" required>
                                    <option value=''>Выберите категорию</option>
                                    <option ng-repeat="(categoryId, categoryName) in postAdCtrl.categories" value={{categoryId}}>{{categoryName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Оплата:</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="За сутки работы в гривнах"
                                       ng-model="findWorkerAdPayment">
                            </div>
                            <div class="form-group">
                                <label>Опыт работы (лет):</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="1"
                                       ng-model="findWorkerAdExperience">
                            </div>
                            <div class="form-group">
                                <label>Ваш номер телефона:</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="+380NNNNNNNNN"
                                       ng-model="findWorkerAdPhone"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Подробно опишите нужные Вам услуги:</label>
                                <textarea class="form-control" rows="5" ng-model="findWorkerAdDescription" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Разместить объвление</button>
                        </form>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
