<div>
  <div>
    <nav class="butBlog">
        <ul>
            <li><a href='/blogs'>Блог</a></li>
            <li><a href='/createblog'>Добавьте новый блог</a></li>
        </ul>
    </nav>

    <div id="show-blogs">
      <div class="single-blog">
            <h1>Блог: {{post.id}}</h1>
            <h2>{{post.title}}</h2>
            <article>Категория {{post.categories}}</article>
            <br />
            <article>{{post.content}}</article>
            <article class="autor">Автор: {{post.autor}}</article>
            <br />

      </div>
      <button ng-click="fullContact()">Оставить комментарий▼</button>
      <div id="add-blog" ng-hide="show =='msg1'">
        <label>Контент коментария:</label>
        <textarea ng-model="comment.msg" ng-required="true"></textarea>
        <button ng-click="addComment(comment)">Добавить комментарий</button>
      </div>
    </div>
    <div id="show-blogs">
      <h1>Комментарии:</h1>
        <div ng-repeat="comment in comments" class="single-blog">
          <h1>{{comment.firstname}} {{comment.surname}}</h1>
          <article>{{comment.datetime}}</article>
          <p>{{comment.msg}}</p>
        </div>

    </div>
</div>





<style media="screen">
#add-blog *{
    box-sizing: border-box;
}
#add-blog{
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    padding-bottom: : 0px;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="text"], textarea, select{
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #9CBC7C;
}
textarea{
    height:200px;
    border: 1px solid #9CBC7C;
}

.navbar{
  margin: 0 auto;
}

#add-blog button{
margin-top: 20px;
background: #9CBC7C;
}

button{
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  background: #9CBC7C;
    color: #fff;
}

select{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
.autor{
    float: right;

}

.butBlog ul{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding-left: 0px;
    padding-bottom: 10px;

}
.butBlog ul li{
    display: inline-block;
    margin: 0 10px;
}
.butBlog a{
    color: #fff;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
}
.butBlog{
    background: #9CBC7C;
    padding-top:10px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}
a:active{
    background: rgba(255,255,255,0.8);
    color: #444;
}


#show-blogs{
  width: 100%;
  max-width: 800px;
    margin: 0px auto;
}
.single-blog{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
    border: 1px solid #9CBC7C;

}
#show-blogs a{
    color: #444;
    text-decoration: none;
}
input[type="text"]{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
</style>
